/**
 * @file
 * Admin locale override styles.
 */

.form-item-strings td:nth-child(2) {
  width: 40%;
}

.form-item-strings td:nth-child(3) {
  width: 40%;
}

.form-item-strings td:nth-child(4) {
  width: 10%;
}

.form-item-strings th:nth-child(5),
.form-item-strings td:nth-child(5) {
  width: 10%;
  text-align: center;
}
